body{
    margin: 0;
    font-family: sans-serif;
    background-color: #eaeaea;
}

.wrapper{
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0 40px 0;
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.nav>li{
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}
.nav>li:first-child{
    padding-left:0;
    margin-left: 0;
}
.nav>li::before{
    content: '';
    width: 2px;
    height: 100%;
    background-color:#494949;
    display: block;
    position: absolute;
    left: 0;
}
.nav>li:first-child::before{
    display: none;
}

.nav>li>a{
    text-decoration: none;
    color: #494949;
}
.nav a:hover{
    color:  brown;
    transition: all 0.2s ease;
}























